<div class="col-9 col-md-4 product-card-container justify-content-center">
    <a href="/store/{{this.sku}}">
        <div class="card bg-white">
            <div class="content-container">
                <div class="thumbnail-container vertical-align">
                    <img src="{{this.imgUrl}}">
                </div>
                <div class="colour-icons">
                    {{#each this.colours}}
                        <img class="colour-option-img" src="{{this}}">
                    {{/each}}
                </div>
                <h6>{{this.title}}</h6>
                <p>£{{this.cost}}</p>
                <button onclick="dogLeadStore. addToCart(event, '{{{ this.sku }}}')"
                        class="btn btn-secondary sm">Add to basket</button>
            </div>
        </div>
    </a>
</div>
